<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul id="lista"></ul>


    <script>
        const LISTA = document.getElementById('lista')
        const URL = 'http://localhost:8000/ITS_Web_PHP2022/Prj04_Sport/api/';

        fetch(URL).then(js => js.json()).then(sports => {

            for (const sport of sports) {
                const LI = document.createElement('li')
                LI.textContent = sport.nome
                LISTA.appendChild(LI)
            }


        })



    </script>


</body>
</html>